@model HARTravel.Models.Tour

@{
    ViewBag.Title = "Finish";
}

<main>
    <div class="hero_in cart_section last">
        <div class="wrapper">
            <div class="container">
                <div class="bs-wizard clearfix">
                    <div class="bs-wizard-step">
                        <div class="text-center bs-wizard-stepnum">Your cart</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="cart-1.html" class="bs-wizard-dot"></a>
                    </div>

                    <div class="bs-wizard-step">
                        <div class="text-center bs-wizard-stepnum">Payment</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="cart-2.html" class="bs-wizard-dot"></a>
                    </div>

                    <div class="bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Finish!</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#0" class="bs-wizard-dot"></a>
                    </div>
                </div>
                <!-- End bs-wizard -->
                <div id="confirm">
                    <h4>Order completed!</h4>
                    <p>You'll receive a confirmation email at <a href="http://www.ansonika.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f994989095b99c81989489959cd79a9694">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--/hero_in-->
</main>

